# Database
  DB_HOST=localhost
  DB_PORT=5432
  DB_NAME=location_db
  DB_USERNAME=postgres
  DB_PASSWORD=postgres

  # Redis
  REDIS_HOST=localhost
  REDIS_PORT=6379

  # App Config
  LOG_MODE=entry_only
  ENTRY_TTL_SECONDS=300
  QUEUE_CONCURRENCY=5

  # Server
  PORT=3000